<% if (locals.currentUser && locals.currentUser.is_member) { %>
    <li class="commentItem">
        <div class="profileImg">
            <img src="<%= comment.user.img_url%>" alt="">
        </div>
        <%- include("pointCounter",{element:comment,post:false}) %>
        <p><%= comment.content %></p>
        <p><%= comment.formatted_date %></p>
        <% if (dashboard && locals.currentUser.is_admin) { %>
            <button class="deleteComment" data-id="<%= comment.id %>">Eliminar</button>
        <% } %>
   </li>
   <% }else{ %>
       <li class="commentItem">
            <p><%= comment.content %></p>
       </li>
   <% } %>