<li class="commentItem">
        <%- include("pointCounter",{element:comment,post:false}) %>
        <div class="commentContainer">
            <% if (locals.currentUser && locals.currentUser.is_member) { %>
                <div class="userInfo">
                    <div class="profileImg">
                        <img src="<%= comment.user.img_url%>" alt="">
                    </div>
                    <p><%= comment.user.username %></p>
                </div>
            <% } %>
            <p class="commentContent"><%= comment.content %></p>
            <p class="commentDate"><%= comment.formatted_date %></p>
        </div>
        <% if (dashboard && locals.currentUser.is_admin) { %>
            <button class="deleteComment" data-id="<%= comment.id %>">Eliminar</button>
        <% } %>
</li>