<% if (post) { %>
    <div class="pointsContainer">
        <button type="button"  class="upvotePost" data-postid="<%= element.id %>">Like</button>
        <p class="pointCounter"><%= element.points %></p>
        <button type="button"  class="downvotePost" data-postid="<%= element.id %>">Liken't</button>
    </div>
<% }else{ %>
    <div class="pointsContainerComment">
        <button type="button"  class="upvoteComment" data-comment_id="<%= element.id %>">Like</button>
        <p class="pointCounter"><%= element.points %></p>
        <button type="button"  class="downvoteComment" data-comment_id="<%= element.id %>">Liken't</button>
    </div>
<% } %>