<li class="postItem">
    <a href="<%= post.url %>" class="postItemCardContent">
        <h2><%= post.title %></h2>
        <% if (locals.currentUser && locals.currentUser.is_member) { %>
            <div class="postInfo">
                <p>Por: <%= post.user.username %></p>
                <p><%= post.formatted_date %></p>
            </div>
        <% } %>
        <% if (post.img_url) { %>
            <div class="postImgContainer">
                <img class="postImg" src="<%= post.img_url %>" alt="">
            </div>
        <% } else {%>
            <div class="postContentContainer">
                <p><%= post.content %></p>
            </div>
        <% } %>
    </a>
    <div class="interactionContainer">
        <%- include("pointCounter",{element:post,post:true}) %>
        <div class="numCommentsContainer">
            <p><%= post.numComments %></p>
        </div>
    </div>
    <% if (dashboard &&locals.currentUser.is_admin) { %>
        <button class="deletePost primaryBtn" data-id="<%= post.id %>">Borrar post</button>
    <% } %>
</li>
