<% if (locals.currentUser && locals.currentUser.is_member) { %>
 <li class="postItem">
    <a href="<%= post.url %>">
        <h2><%= post.title %></h2>
        <p><%= post.user.username %></p>
        <p><%= post.formatted_date %></p>
        <p><%= post.content %></p>
        <p><%= post.numComments %></p>
    </a>
    <% if (dashboard &&locals.currentUser.is_admin) { %>
        <button class="deletePost" data-id="<%= post.id %>">Borrar post</button>
    <% } %>
</li>
<% }else{ %>
    <li class="postItem">
        <a href="<%= post.url %>">
            <h2><%= post.title %></h2>
            <p><%= post.content %></p>
        </a>
    </li>
<% } %>