<% if ( sortType && sortType === value) { %>
    <label for="<%= id %>">
        <%= label %>
        <input type="radio" name="<%= name %>" value="<%= value %>" id="<%= id %>" checked>
   </label>
<% } else { %>
    <label for="<%= id %>">
        <%= label %>
        <input type="radio" name="<%= name %>" value="<%= value %>" id="<%= id %>">
   </label>
<% } %>