<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head_layout",{title:"Dashboard"}) %>
    <script src="/javascripts/deletePost.js" defer></script>
    <script src="/javascripts/deleteComment.js" defer></script>
    <script src="/javascripts/changeItemsDisplayed.js" defer></script>
</head>
<body>
    <%- include("./components/header") %>
    <h1>Dashboard</h1>
    <main class="adminDashboardMain">
        <form action="" method="get" class="sortPostForm">
            <fieldset class="sortPostContainer">
                <legend>Ordenar lista</legend>
                <div class="sortTypeContainer">
                    <%- include("./components/sortRadio",{id:"dateSort",name:"sortType",
                    value:"date",label:"Fecha de creacion",sortType:sortType}) %>
                    <%- include("./components/sortRadio",{id:"pointSort",name:"sortType",
                    value:"point",label:"Total de puntos",sortType:sortType}) %>
                </div>
                <div class="sortOrder">
                    <%- include("./components/sortRadio",{id:"ascendingOrder",name:"sortOrder",
                    value:"1",label:" Ascendente",sortType:sortOrder}) %>
                    <%- include("./components/sortRadio",{id:"descendingOrder",name:"sortOrder",
                    value:"-1",label:" Descendente",sortType:sortOrder}) %>
                </div>
                <button type="submit">Ordenar</button>
            </fieldset>
        </form>
        <div class="container">
            <div class="userActions">
                <h2>Actividad reciente</h2>
                <select name="" id="itemDisplay">
                    <option value="posts">Posts</option>
                    <option value="comments">Comentarios</option>
                </select>
                <div class="postsContainer">
                    <h3>Posts realizados</h3>
                    <% if (posts.length > 0) { %>
                        <ul class="postList">
                            <% posts.forEach(post => { %>
                                <%- include("./components/postItem",{post,dashboard:true}) %>
                            <% }) %>
                        </ul>
                    <% }else{ %>
                        <p>No se han realizado posts</p>
                    <% } %>
                </div>
                <div class="commentsContainer hide">
                    <h3>Comentarios realizados</h3>
                    <% if (comments.length > 0) { %>
                        <ul class="commentList">
                            <% comments.forEach(comment => { %>
                                <%- include("./components/commentItem",{comment,dashboard:true}) %>
                            <% }) %>
                        </ul>
                    <% }else{ %>
                        <p>No se han realizado comentarios</p>
                    <% } %>
                </div>
            </div>
        </div>
    </main>
</body>
</html>