<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head_layout",{title:"Dashboard"}) %>
    <script src="/javascripts/deletePost.js" defer></script>
    <script src="/javascripts/deleteComment.js" defer></script>
    <script src="/javascripts/changeItemsDisplayed.js" defer></script>
</head>
<body>
    <%- include("./components/header") %>
    <main class="adminDashboardMain">
        <h1>Dashboard</h1>
        <form action="" method="get" class="sortPostForm">
            <label for="sortOrder">
                Ordenar post y comentarios
                <select name="sortOrder" id="sortOrder">
                    <%- include("./components/sortOption",{value:"recent",text:"Recientes",sortOrder:sortOrder}) %>
                    <%- include("./components/sortOption",{value:"oldest",text:"Antiguos",sortOrder:sortOrder}) %>
                    <%- include("./components/sortOption",{value:"top",text:"Mejores",sortOrder:sortOrder}) %>
                    <%- include("./components/sortOption",{value:"worst",text:"Peores",sortOrder:sortOrder}) %>
                </select>
            </label>
            <button type="submit">Ordenar</button>
        </form>
        <div class="container">
            <div class="userActions">
                <h2>Actividad reciente</h2>
                <select name="" id="itemDisplay">
                    <option value="posts">Posts</option>
                    <option value="comments">Comentarios</option>
                </select>
                <div class="postsContainer">
                    <h3>Posts realizados</h3>
                    <% if (posts.length > 0) { %>
                        <ul class="postList">
                            <% posts.forEach(post => { %>
                                <%- include("./components/postItem",{post,dashboard:true}) %>
                            <% }) %>
                        </ul>
                    <% }else{ %>
                        <p>No se han realizado posts</p>
                    <% } %>
                </div>
                <div class="commentsContainer hide">
                    <h3>Comentarios realizados</h3>
                    <% if (comments.length > 0) { %>
                        <ul class="commentList">
                            <% comments.forEach(comment => { %>
                                <%- include("./components/commentItem",{comment,dashboard:true}) %>
                            <% }) %>
                        </ul>
                    <% }else{ %>
                        <p>No se han realizado comentarios</p>
                    <% } %>
                </div>
            </div>
        </div>
    </main>
</body>
</html>