<!DOCTYPE html>
<html lang="en">
<head>
        <%- include("head_layout",{title:post.title}) %>
        <script type="module" src="/javascripts/postLike.js" defer></script>
        <script type="module" src="/javascripts/newComment.js" defer></script>
        <script type="module" src="/javascripts/commentLike.js" defer></script>
</head>
<body>
    <%- include("./components/header") %>
    <main class="postDetailsMain">
        <div class="container">
            <div class="postDetails">
                <h1><%= post.title %></h1>
                <p><%= post.content %></p>
                <% if (post.img_url) { %>
                    <div class="postImgContainer">
                        <img class="postImg" src="<%= post.img_url %>" alt="">
                    </div>
                <% } %>
                <% if (locals.currentUser && locals.currentUser.is_member) { %>
                    <div class="postInfo">
                        <p>Por: <a href="post.user.url"><%= post.user.username %></a></p>
                        <p><%= post.formatted_date %></p>
                    </div>
                <% } %>
                <div class="interactionContainer">
                    <%- include("components/pointCounter",{element:post,post:true}) %>
                    <div class="numCommentsContainer">
                        <p><%= post.numComments %></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="addCommentContainer">
                <h2>Comentarios</h2>
                <% if (locals.currentUser && locals.currentUser.is_member) { %>
                    <div class="newCommentContainer">
                        <form action="" id="newCommentForm">
                            <input type="hidden" name="user" id="userId" value="<%= locals.currentUser.id %>">
                            <input type="hidden" name="post" id="postId" value="<%= post.id %>">
                            <label for="newComment">
                                <textarea name="newComment" id="newComment"
                                 placeholder="Escribir comentario" cols="30" rows="10" minlength="1" required></textarea>
                            </label>
                            <button type="submit" class="primaryBtn">Escribir comentario</button>
                        </form>
                        <p class="errorText" id="newCommentError"></p>
                    </div>
                <% }else{ %>
                    <p>Debe iniciar sesion para escribir un comentario</p>
                <% } %>
            </div>
        </div>
        <form action="" method="get" class="sortPostForm">
            <label for="sortOrder">
                Ordenar Comentarios
                <select name="sortOrder" id="sortOrder">
                    <%- include("./components/sortOption",{value:"recent",text:"Recientes",sortOrder:sortOrder}) %>
                    <%- include("./components/sortOption",{value:"oldest",text:"Antiguos",sortOrder:sortOrder}) %>
                    <%- include("./components/sortOption",{value:"top",text:"Mejores",sortOrder:sortOrder}) %>
                    <%- include("./components/sortOption",{value:"worst",text:"Peores",sortOrder:sortOrder}) %>
                </select>
            </label>
            <button type="submit">Ordenar</button>
        </form>
        <div class="container">
            <div class="comments">
                <% if (comments.length > 0) { %>
                    <ul>
                        <% comments.forEach(comment => { %>
                            <%- include("./components/commentItem",{comment,dashboard:false}) %>
                        <% }) %>
                    </ul>
                <% }else {%>
                    <p>Sin comentarios, se el primero es escribir uno</p>
                <% } %>
            </div>
        </div>
    </main>
</body>
</html>