<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head_layout",{title:"Lista de posts"}) %>
    <script type="module" src="/javascripts/postLike.js" defer></script>
</head>
<body>
    <%- include("./components/header") %>
    <main>
        <form action="" method="get">
            <fieldset>
                <legend>Ordenar lista</legend>
                <div class="sortTypeContainer">
                    <%- include("./components/sortRadio",{id:"dateSort",name:"sortType",
                    value:"date",label:"Fecha de creacion",sortType:sortType}) %>
                    <%- include("./components/sortRadio",{id:"pointSort",name:"sortType",
                    value:"point",label:"Cantidad de puntos",sortType:sortType}) %>
                </div>
                <div class="sortOrder">
                    <%- include("./components/sortRadio",{id:"ascendingOrder",name:"sortOrder",
                    value:"1",label:" Ascendente",sortType:sortOrder}) %>
                    <%- include("./components/sortRadio",{id:"descendingOrder",name:"sortOrder",
                    value:"-1",label:" Descendente",sortType:sortOrder}) %>
                </div>
            </fieldset>
            <button type="submit">Ordenar</button>
        </form>
        <a href="/blog/posts/create">Crear nuevo post</a>
        <% if (posts.length>0) { %>
            <ul>
                <% posts.forEach(post => { %>
                    <%- include("./components/postItem",{post,dashboard:false}) %>
                <% }) %>
            </ul>
        <% }else{ %>
            <p>No hay posts todavia</p>
        <% } %>
    </main>
</body>
</html>