<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head_layout",{title:"Lista de posts"}) %>
    <script type="module" src="/javascripts/postLike.js" defer></script>
</head>
<body>
    <%- include("./components/header") %>
    <main class="postListMain">
        <div class="welcomeText">
            <h1>Bienvenido a Clubhouse-board</h1>
            <p>En esta red social, puedes ver lo que está pensando el resto del mundo.</p>
            <p>Es necesario crear una cuenta para participar y, si quieres ver quién está 
                publicando algo, deberás hacerte miembro.</p>
        </div>
        <div class="container">
            <div class="postsActions">
                <a href="/blog/posts/create" id="addPostLink" class="primaryBtn">
                    Crear post
                    <span class="material-symbols-outlined">
                    post_add
                    </span>
                </a>
                <form action="" method="get" class="sortPostForm">
                    <label for="sortOrder">
                        Ordenar post
                        <select name="sortOrder" id="sortOrder">
                            <%- include("./components/sortOption",{value:"recent",text:"Recientes",sortOrder:sortOrder}) %>
                            <%- include("./components/sortOption",{value:"oldest",text:"Antiguos",sortOrder:sortOrder}) %>
                            <%- include("./components/sortOption",{value:"top",text:"Mejores",sortOrder:sortOrder}) %>
                            <%- include("./components/sortOption",{value:"worst",text:"Peores",sortOrder:sortOrder}) %>
                        </select>
                    </label>
                    <button type="submit">Ordenar</button>
                </form>
            </div>
        </div>
        <% if (posts.length>0) { %>
            <ul class="postList">
                <% posts.forEach(post => { %>
                    <%- include("./components/postItem",{post,dashboard:false}) %>
                <% }) %>
            </ul>
        <% }else{ %>
            <p>No hay posts todavia</p>
        <% } %>
    </main>
</body>
</html>