<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head_layout",{title:user.username}) %>
    <script src="/javascripts/changeItemsDisplayed.js" defer></script>
</head>
<body>
    <%- include("./components/header") %>
    <main class="userProfileMain">
        <div class="info">
            <h1>Perfil de <%= user.username %></h1>
            <div class="imgContainer">
                <img src="<%= user.img_url %>" alt="">
                <p><%= user.username %></p>
            </div>
            <h2>Datos</h2>
            <ul>
                <li><%= user.fullname %></li>
                <li><%= user.email %></li>
                <li><%= user.is_member ? "Es un miembro" : "No es miembro" %></li>
            </ul>
            <% if (user.id === locals.currentUser.id ) { %>
                <% if (locals.currentUser.is_admin) { %>
                    <a href="/account/admin/dashboard" class="primaryBtn adminDasboardBtn">Admin Dashboard</a>
                <% } %>
             <a href="<%= locals.currentUser.url %>/update" class="primaryBtn updateBtn">Actualizar datos</a>
             <a href="/account/new-member" class="primaryBtn newMemberBtn">Hacerse miembro</a>
             <a href="/account/logout" class="primaryBtn logOutBtn">Cerrar sesion</a>
            <% } %>
        </div>
        <div class="container">
            <div class="userActions">
                <h2>Actividad reciente</h2>
                <select name="" id="itemDisplay">
                    <option value="posts">Posts</option>
                    <option value="comments">Comentarios</option>
                </select>
                <div class="postsContainer">
                    <h3>Posts realizados</h3>
                    <% if (posts.length > 0) { %>
                        <ul class="postList">
                            <% posts.forEach(post => { %>
                                <%- include("./components/postItem",{post,dashboard:false}) %>
                            <% }) %>
                        </ul>
                    <% }else{ %>
                        <p>No se han realizado posts</p>
                    <% } %>
                </div>
                <div class="commentsContainer hide">
                    <h3>Comentarios realizados</h3>
                    <% if (comments.length > 0) { %>
                        <ul class="commentList">
                            <% comments.forEach(comment => { %>
                                <%- include("./components/commentItem",{comment,dashboard:false}) %>
                            <% }) %>
                        </ul>
                    <% }else{ %>
                        <p>No se han realizado comentarios</p>
                    <% } %>
                </div>
            </div>
        </div>
    </main>
</body>
</html>