<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head_layout",{title:user.username}) %>
</head>
<body>
    <%- include("./components/header") %>
    <main>
        <h1>Perfil de <%= user.username %></h1>
        <div class="info">
            <p>Datos</p>
            <ul>
                <li><%= user.fullname %></li>
                <li><%= user.email %></li>
                <li><%= user.is_member ? "Es un miembro" : "No es miembro" %></li>
            </ul>
            <% if (user.id === locals.currentUser.id ) { %>
             <a href="/account/update/<%= locals.currentUser.id %>">Actualizar datos</a>
            <% } %>
        </div>
        <div class="userActions">
            <div class="postsContainer">
                <h2>Posts realizados</h2>
                <% if (posts.length > 0) { %>
                    <ul>
                        <% posts.forEach(post => { %>
                            <%- include("./components/postItem",{post}) %>
                        <% }) %>
                    </ul>
                <% }else{ %>
                    <p>No se han realizado posts</p>
                <% } %>
            </div>
            <div class="commentsContainer">
                <h2>Comentarios realizados</h2>
                <% if (comments.length > 0) { %>
                    <ul>
                        <% comments.forEach(comment => { %>
                            <%- include("./components/commentItem",{comment}) %>
                        <% }) %>
                    </ul>
                <% }else{ %>
                    <p>No se han realizado comentarios</p>
                <% } %>
            </div>
        </div>
    </main>
</body>
</html>